{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>本を追加 | ネッ図書館</title>
    <link rel="stylesheet" href="{% static 'artthinking01/css/add_book.css' %}">
    <link rel="icon" href="{% static 'artthinking01/images/favicon.jpg' %}">
</head>
<body>
<header>
    <h1>📘 本を追加</h1>
    <nav>
        <a href="{% url 'home' %}">🏠 ホームに戻る</a>
    </nav>
</header>

<main class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">登録する</button>
    </form>
</main>
    <nav class="bottom-nav">
        <a href="{% url 'home' %}">🏠 ホーム</a>
        <a href="{% url 'translate' %}">🌐 翻訳</a>
        <a href="{% url 'ranking' %}">🏆 ランキング</a>
        <a href="{% url 'timeline' %}">🕒 タイムライン</a>
        <a href="{% url 'add_book'%}">➕ 本を追加</a>
        <a href="{% url 'book_list' %}">📚 本一覧</a>
        <a href="{% url 'profile' %}">👤 プロフィール</a>
    </nav>
<footer><p>© 2025 ネッ図書館</p></footer>
</body>
</html>
